
<p>
  Bonjour,
</p>

<p>
  Le règlement général sur la protection des données (RGPD) responsabilise les organismes publics et privés qui traitent leurs données.
</p>

<p>
  Dans le cadre du respect du RGPD, nous (la plateforme demarches-simplifiees.fr) venons d'activer la suppression automatique des dossiers sur la démarche : "Procédure test".
</p>

<p>
  Vous pouvez d’ores et déjà archiver ces données en accédant à
  <a href="https://example.test/admin/procedures/archives">notre systeme d&#39;archivage pour les admnistrateurs de démarche</a>.
</p>

<p>
Cordialement,
<br>
L’équipe
demarches-simplifiees&#8288;.fr
</p>

