<div class="fr-mt-2v fr-background-alt--grey fr-p-2w flex-grow">
  <p class="fr-text-mention--grey fr-mb-2w">
    Données récupérées depuis la pièce jointe
  </p>

  <dl class="fr-pl-0">
    <% formated_data.each do |key, value| %>
      <dt class="champ-label fr-text-mention--grey"><%= t(".#{key}") %></dt>
      <dd class="champ-content fr-mb-2w copy-zone"><%= sanitize(value) %></dd>
    <% end %>
  </dl>
</div>
