<%= turbo_stream.replace "tiptap-preview" do %>
  <div id="tiptap-preview" class="realistic-preview">
    <%= render partial: 'users/dossiers/merci', locals: { procedure: @procedure, dossier: nil, dossier_submitted_message: @dossier_submitted_message } %>
  </div>
<% end %>
