.sidebar-filter {
  border: none;
  padding-left: 0;

  legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .reinit a {
    background-image: none;
  }
}

.main-filter-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .actions {
    display: flex;
    justify-content: flex-end;
  }
}

.selected-zones,
.selected-statuses,
.selected-kind_usagers,
.selected-tag,
.selected-template,
.selected-from_publication_date,
.selected-email,
.selected-query {
  display: contents;
}
