@import 'colors';
@import 'constants';

.page-title {
  font-size: 30px;
  font-weight: normal;
  margin-top: 3 * $default-spacer;
  margin-bottom: 3 * $default-spacer;
}

.tab-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: $default-padding;

  .highlighted {
    font-size: 16px;
    font-weight: normal;
  }
}

.tab-list,
.tab-paragraph {
  margin-bottom: 2 * $default-padding;
}

.header-actions {
  flex-shrink: 0;

  .button {
    // Needed so that buttons without text
    // are ligned with those that have text
    vertical-align: top;
  }

  .label {
    padding: $default-spacer $default-padding;
    font-size: 14px;
    line-height: 20px;
  }
}

.print-menu-opener {
  position: relative;
}

.dropdown-export.dropdown-content {
  width: 450px;

  a {
    text-decoration: underline;
  }
}

.dropdown-label.dropdown-content {
  min-width: 390px;
}
.print-header {
  display: none;
}
