.procedure__item {
  box-shadow: 0 -1px 0 0 var(--border-default-grey);
  margin-bottom: 2.5rem;
  padding-top: 1rem;
}

.procedure-stats {
  padding-inline-start: 0;

  li {
    min-height: 36px;
    position: relative;
    flex: 1 1 auto;

    &:hover {
      background-color: var(--background-alt-grey);
    }

    &:not(:first-child) {
      border-left: 1px solid var(--border-default-grey);
    }

    .notifications {
      top: 10px;
      left: 50%;
      margin-left: 15px;
    }
  }
}
