@import 'constants';

.sticky-footer,
.fixed-footer {
  border-top: 2px solid var(--border-plain-blue-france);
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: $default-padding;
  background-color: var(--background-default-grey);
  z-index: 2;
}

.fixed-footer {
  position: fixed;
}

.sticky-footer {
  position: sticky;
}

@media (max-width: 62em) {
  .padded-fixed-footer {
    padding-top: 120px;
  }
}

@media (min-width: 62em) {
  .padded-fixed-footer {
    padding-top: 60px;
  }
}

[data-fr-theme='dark'] .fixed-footer,
[data-fr-theme='dark'] .sticky-footer {
  background-color: var(--background-action-low-blue-france);
}

.sticky-header {
  padding-top: $default-padding;
  padding-bottom: $default-padding;

  &-container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 800;
  }

  &-warning {
    background-color: var(--background-contrast-warning);
  }

  p {
    margin: 0;
  }
}

// Prevent fixed footer from overlapping the real page footer
body:has(.dossier-edit-footer) .fr-footer {
  @media (max-width: 62em) {
    padding-bottom: 120px + $default-padding;
  }
  @media (min-width: 62em) {
    padding-bottom: 60px + $default-padding;
  }
}
